# Python
__pycache__/
*.py[cod]
*.pyo

# Python virtual environments
venv/
.venv/

# Node
node_modules/
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment files
.env
.env.*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Other
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?